
html {
	min-height: 100%;
	font-size: 16px;
	box-sizing:border-box;
}

body {
	width: 100%;
	height: 100%;
	min-height: 100%;	
	min-width: 320px;
	line-height: 24px;
	-webkit-font-smoothing:antialiased;
	background-color: #fff;
	background-image: url('../images/bg-brush.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

*, *:before, *:after {
	box-sizing: inherit;
}

*:focus {
	outline: none;
}




/*#9ec2a1*/
/*#7ead82*/
/*#5a845a*/


.is_fixed {
	overflow: hidden;
	height: 100vh;
}

.wrapper {
	width: 100%;
	max-width: 1040px;
	margin: 0 auto;
	padding: 0 20px;
}


.container {
	margin: 0 auto;
	width: 100%;
	max-width: calc(100% - 60px);
	border: 1px solid #000;
}


.main {
	padding-top: 170px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.header_fixed .header-top{
	display: none;
}

.header_fixed  .header-bottom{
	width: 100%;
}

.header__inner{
	width: 100%;
	max-width: 1040px;
	margin: 0 auto;
	background: #fff;
}

.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}


.social_header {
	margin-top: 60px;
}

.social__list {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.social__item {
	width: 35px;
	height: 35px;
	background-color: #9ec2a1;
	border-radius: 50%;
    box-shadow: 0 0 0 2px snow, 0 0 8px 4px #878D87;
    transition: all 0.2s;
    margin: 0 5px;
}

.social__item:hover{
	box-shadow: 0 0 0 2px snow, 0 0 8px 4px #9ec2a1;
}
.social__item a {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.social__item a img{
	width: 22px;
}

.social__item_vk {
	background-color: #5B7AA3;
}
.social__item_steam {
	background-color: #000;
}
.social__item_tube {
	background-color: #e62117;
}

.social__item_twitch {
	background-color: #9044FB;
}



.social__item_twitter{
	background-color: #61D1FC;
}



.header-bottom {
	padding: 2px 0;
	background-color: #5a845a;
	display: flex;
	align-items: center;
	margin: 0 auto;
	width: 95%;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 6px 2px #334734;
}


.main-nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
}

.main-nav__item {

}

.main-nav__link{
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	padding: 0 10px;
	text-decoration: none;
}

.main-nav__link:hover {
	text-decoration: underline;
}




.vips {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 40px;
}

.vips__item {
	border: 1px solid #000;
	margin-right: 18px;
}

.vips__item:last-of-type {
	margin-right: 0;
}

.vips__item a {
	display: flex;
	padding: 2px 10px;
	background-color: #7ead82;
	color: yellow;
	font-weight: bold;
}


.main-search {
	width: 100%;
	max-width: 300px;
}

.main-search input {
	width: 100%;
}




.logo {
	display: flex;
	align-items: center;
}


.logo-animation {
	/*box-shadow: inset 0 0 8px 4px #878D87, 0 0 0 2px #8EBD96;*/
    background: url('../images/logo-3d-sprite.png') 0 0 no-repeat;
    width: 100px;
    height: 100px;
    animation: logoAnim 1.5s steps(20,end) infinite;
    margin-right: 15px;
}

@keyframes logoAnim{from{background-position:0 0}to{background-position:-2000px 0}}


.close-menu {
	display: none;
}

.bg-element{
	display: none;
}


.header-mobile {
	display: none;
}





/*ADAPTIV  MEDIA*/

@media only screen and (max-width: 991px) {
	.main {
		padding-top: 60px;
	}
	.header  {
		position: fixed;
		left: auto;
		left: -100%;
		top: 0;
		bottom: 0;
		overflow: auto;
		z-index: 10;
		width: 50%;
		background-color: #fff;
		padding: 80px 40px 40px;
	}

	.header__inner{
		display: flex;
		flex-direction: column;
	}

	.bg-element {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 9;
		background-color: rgba(0, 0, 0, 0.3);
		transition: all 0.2s;
	}
	.bg-element.active {
		display: block;
	}

	.header-top .logo{
		display: none;
	}
	.header-top{
		order: 5;
	}

	.header-bottom{
		background-color: #fff;
		display: block;
		box-shadow: none;
		padding: 0;
		width: 100%;
	}

	.main-nav {
		margin-bottom: 40px;
	}


	.main-nav__list {
		display: block;
	}

	.main-nav__item{
		margin-bottom: 12px;
	}

	.main-nav__link {
		color: #7ead82;
		font-size: 20px;
	}




	.header-mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #5a845a;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		padding: 5px 15px;
	}

	.logo-animation{
		transform: scale(0.5);
		margin-right: 0;
		margin-right: -20px;
	}

	.burger {
		display: block;
		min-width: 25px;
		width: 25px;
		height: 20px;
		position: relative;
		margin-right: 40px;
		cursor: pointer;
	}
	.burger__line{
		position: absolute;
		left: 0;
		width: 100%;
		height: 3px;
		background-color: #9EC3A1;
	}

	.logo_mobile{
		max-width: 300px;
	}

	.logo_mobile img {
		max-width: 100%;
	}
	.burger__line_top{
		top: 0;
	}

	.burger__line_center{
		top: 50%;
		transform: translateY(-50%);
	}

	.burger__line_bottom{
		bottom: 0;
	}

	.vips {
		margin-bottom: 35px;
	}


	.close-menu {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 25px;
		height: 25px;
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
	}

	.social__item {
		margin: 0 15px 0 0;
	}

	.social__item:last-of-type {
		margin-right: 0;
	}
}


@media only screen and (max-width: 767px) {
	.wrapper{
		padding: 0 15px;
	}
	.header  {
		width: 70%;
	}

	.container {
		max-width: 100%;
	}
}

@media only screen and (max-width: 575px) {
	.header  {
		width: 85%;
		padding-left: 15px;
		padding-right: 15px;
	}
}


@media only screen and (max-width: 374px) {
	.header  {
		width: 100%;
	}
}